body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.post, .comment {
    margin-top: 10px;
    margin-bottom: 30px;
}

.post h3,
.comment h3{
    margin: 0;
}

.modal {
    position: absolute;
    top: 40px;
    left: 500px;
    right: 500px;
    bottom: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
    min-width: 200px;
}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.75);
}

.comment-form input,
.comment-form textarea,
.comment-form button{
    display: block;
    margin-top: 15px;
}

.edit-post-wrapper,
.edit-comment-wrapper,
.modal-form-wrapper{
    display: inline;
}

.modal-form input,
.modal-form textarea,
.modal-form select{
    display: block;
    margin-bottom: 15px;
    min-width: 320px;
}
